/****************** RESET CSS *******************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/****************** FIN RESET CSS *******************/
/****************** BODY STYLES + FONT-FAMILY *******************/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  background: #fff;
  margin: 0;
}
p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
main {
  padding-top: 80px;
}
/****************** HEADER STYLES *******************/
header {
  background: #ffffff;
  width: 100%;
  height: 80px;
  padding: 10px;
  box-shadow: 0 8px 6px -6px #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
}
#logoHeader {
  height: 65px;
}
#resaHeader {
  height: 55px;
  cursor: pointer;
}
/****************** FOOTER STYLES *******************/
footer {
  width: 100%;
  min-height: 230px;
  background: #474747;
  padding: 25px 10px 15px 10px;
}
footer p {
  color: #0e0e0e !important;
}
footer p a {
  color: #a7a4a4;
  text-decoration: none;
}
footer p a:hover {
  color: #fff;
  text-decoration: underline;
}
#footer1 {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 720px) {
  #footer1 {
    flex-wrap: wrap;
  }
}
@media (max-width: 450px) {
  #footer1 {
    justify-content: left;
  }
}
#footerLogo img {
  height: 85px;
  padding: 7px;
}
#plan a {
  color: #a7a4a4;
  font-family: 'Raleway', sans-serif;
  display: block;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
#plan a:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 720px) {
  #plan a {
    padding: 0 10px;
  }
}
.contact {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
@media (max-width: 415px) {
  .contact {
    padding: 15px 5px;
  }
}
#langueEtRs p {
  font-size: 14px;
  margin-bottom: 10px;
}
#langueEtRs img {
  height: 50px;
  margin-bottom: 10px;
}
#langueEtRs .flag {
  height: 25px !important;
}
@media (max-width: 720px) {
  #langueEtRs {
    padding: 10px 15px;
  }
}
@media (max-width: 420px) {
  #langueEtRs {
    padding: 20px 15px;
  }
}
.print {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
#footer2 {
  font-size: 13px;
  padding-left: 10px;
  padding-top: 10px;
}
/****************** MENU STYLE *******************/
#btn-menu {
  display: inline-block;
  cursor: pointer;
}
#btn-menu.active .bar1 {
  transform: translateY(11px) rotate(225deg);
}
#btn-menu.active .bar3 {
  transform: translateY(-11px) rotate(-225deg);
}
#btn-menu.active .bar2 {
  opacity: 0;
}
#btn-menu .bar1,
#btn-menu .bar2,
#btn-menu .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  opacity: 1;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  transform-origin: center center;
}
nav {
  width: 350px;
  margin-top: 80px;
  position: fixed;
  height: 100%;
  box-shadow: 0px 0 4px 0 #777;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background: #ffffff;
  z-index: 99;
}
nav.open {
  transform: translateX(0);
}
nav ul {
  padding-top: 15px;
  padding-left: 0;
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #423d3b;
  display: block;
  padding: 13px 15px;
}
nav li a.active {
  background: rgba(233, 44, 19, 0.705);
}
nav li a:hover {
  background: rgba(218, 214, 214, 0.61);
}
nav form {
  padding: 13px 15px;
  color: #423d3b;
}
nav form label,
nav form .far {
  margin: 0 3px 8px 0;
}
nav form input {
  border: 1px solid #CCC;
  background: #FFF;
}
nav form input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
nav form input:focus {
  outline: 0;
  border: 1px solid #999;
}
nav form button {
  cursor: pointer;
  border: none;
  background: #423d3b;
  color: #FFF;
  padding: 2px 4px;
}
nav form button:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
nav form button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
nav iframe {
  margin-left: 13px;
}
@media (max-width: 600px) {
  nav {
    width: 100%;
  }
}
/****************** INDEX : SECTIONS STYLES *******************/
.home {
  /***** Presentation section *****/
  /* image intro */
  /* texte intro */
  /***** 4 columns section (bedrooms, restaurant, privatization,access *****/
  /***** Hotel informations section *****/
  /***** 2 columns (presse and news) section *****/
  /***** slider hotel images section *****/
}
.home #paribis-intro {
  width: 100%;
}
.home .accueil {
  position: relative;
}
.home .accueil img {
  width: 100%;
  display: block;
}
.home .accueil .reservation-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: #423d3b;
}
.home .accueil .index-reservation {
  font-size: 25px;
  font-weight: 700;
  background: rgba(212, 211, 211, 0.719);
  margin-bottom: 10px;
  padding: 3px 5px;
  border-radius: 2%;
}
@media (max-width: 540px) {
  .home .accueil .index-reservation {
    font-size: 17px;
    margin-bottom: 5px;
  }
}
@media (max-width: 483px) {
  .home .accueil .index-reservation {
    font-size: 15px;
    margin-bottom: 2px;
  }
}
@media (max-width: 353px) {
  .home .accueil .index-reservation {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.home .accueil .form-index {
  position: relative;
  background: rgba(212, 211, 211, 0.719);
  padding: 7px 10px;
  border-radius: 2%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
@media (max-width: 540px) {
  .home .accueil .form-index {
    padding: 2px 4px;
  }
}
@media (max-width: 540px) {
  .home .accueil .form-index form {
    font-size: 13px;
  }
}
@media (max-width: 483px) {
  .home .accueil .form-index form {
    font-size: 12px;
  }
}
@media (max-width: 353px) {
  .home .accueil .form-index form {
    font-size: 11px;
  }
}
.home .accueil .form-index form input {
  padding: 3px;
  margin: 5px 2px;
}
@media (max-width: 483px) {
  .home .accueil .form-index form input {
    padding: 2px;
    margin: 1px 1px;
  }
}
@media (max-width: 353px) {
  .home .accueil .form-index form input {
    padding: 1px;
  }
}
.home .accueil .form-index form select {
  padding: 3px;
}
.home .accueil .form-index form #resa-submit {
  cursor: pointer;
  border: none;
  background: #423d3b;
  color: #FFF;
  margin: 10px 5px 10px 20px;
  padding: 7px;
  font-size: 15px;
}
@media (max-width: 483px) {
  .home .accueil .form-index form #resa-submit {
    font-size: 12px;
    margin: 5px 5px 10px 10px;
    padding: 5px;
  }
}
@media (max-width: 353px) {
  .home .accueil .form-index form #resa-submit {
    padding: 3px;
    margin: 2px 5px 2px 5px;
  }
}
.home .accueil .form-index form #resa-submit:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.home .presentation h1 {
  color: #333;
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}
.home .presentation p {
  color: #333;
  font-size: 13px;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.home .center {
  text-align: center;
  color: #e92c13 !important;
  font-weight: bold;
}
.home #paribis-services,
.home #presse-news {
  max-width: 960px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 20px;
  flex-wrap: wrap;
}
.home .fourColumns {
  width: 25%;
  padding: 0 15px;
}
.home .fourColumns img {
  display: block;
  width: 100%;
}
.home .fourColumns h2 {
  color: #333;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
}
.home .fourColumns p {
  color: #333;
  font-size: 13px;
  text-align: justify;
}
.home .fourColumns a {
  color: #e92c13;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-decoration: none;
  line-height: 2.5;
}
.home .fourColumns a:hover {
  color: #333;
  text-decoration: underline;
}
@media (max-width: 880px) {
  .home .fourColumns {
    width: 50%;
  }
}
@media (max-width: 440px) {
  .home .fourColumns {
    width: 100%;
  }
}
.home #img-info {
  width: 100%;
  margin-top: 20px;
}
.home #img-info .hotel-info {
  position: relative;
}
.home #img-info .hotel-info img {
  width: 100%;
  display: block;
}
.home #img-info .hotel-info div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 35%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(212, 211, 211, 0.67);
}
@media (max-width: 850px) {
  .home #img-info .hotel-info div {
    width: 100%;
  }
}
.home #img-info .hotel-info div h2 {
  font-size: 25px;
  text-align: center;
  color: #423d3b;
  padding: 20px 0;
  font-weight: bold;
}
@media (max-width: 730px) {
  .home #img-info .hotel-info div h2 {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .home #img-info .hotel-info div h2 {
    padding: 5px 0;
  }
}
@media (max-width: 530px) {
  .home #img-info .hotel-info div h2 {
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  .home #img-info .hotel-info div h2 {
    font-size: 13px;
  }
}
.home #img-info .hotel-info div p {
  font-size: 15px;
  text-align: justify;
  color: #423d3b;
  padding: 7px 0;
}
@media (max-width: 730px) {
  .home #img-info .hotel-info div p {
    font-size: 12px;
  }
}
.home #img-info .hotel-info div p span {
  font-weight: 650;
}
@media (max-width: 600px) {
  .home #img-info .hotel-info div p {
    padding: 2px 0;
  }
}
@media (max-width: 530px) {
  .home #img-info .hotel-info div p {
    font-size: 11px;
  }
}
@media (max-width: 440px) {
  .home #img-info .hotel-info div p {
    font-size: 9px;
  }
}
.home #img-info .hotel-info div a {
  color: #e92c13;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
  line-height: 2.5;
  display: block;
  text-align: justify;
}
.home #img-info .hotel-info div a:hover {
  color: #423d3b;
  text-decoration: underline;
}
@media (max-width: 530px) {
  .home #img-info .hotel-info div a {
    font-size: 11px;
  }
}
@media (max-width: 440px) {
  .home #img-info .hotel-info div a {
    font-size: 9px;
  }
}
.home .twoColumns {
  width: 400px;
  /* div news styles */
}
.home .twoColumns h2 {
  color: #423d3b;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}
.home .twoColumns a {
  color: #e92c13;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-decoration: none;
  line-height: 2.5;
  display: block;
  text-align: center;
}
.home .twoColumns a:hover {
  color: #423d3b;
  text-decoration: underline;
}
.home .twoColumns p {
  color: #423d3b;
  font-size: 13px;
  text-align: justify;
  padding: 0 10px;
}
.home .twoColumns .presse {
  width: 100%;
  padding: 10px 0;
}
.home .twoColumns .actu {
  display: flex;
  padding: 10px 0;
}
@media (max-width: 425px) {
  .home .twoColumns .actu {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
  }
}
.home .twoColumns .actu a {
  width: 150px;
  display: block;
}
.home .twoColumns .actu a img {
  display: block;
}
.home .twoColumns .actu p {
  font-size: 13px;
  text-align: justify;
  padding-left: 10px;
  vertical-align: middle;
  padding-top: 10px;
}
.home .twoColumns .actu .date-icon img {
  width: 11px;
  height: 11px;
}
.home .twoColumns .actu .date-icon a {
  display: inline;
}
.home .twoColumns .actu .date-icon span {
  color: #e92c13;
  padding-left: 50px;
}
.home .twoColumns .actu .date {
  color: #6b6464 !important;
}
.home #section5 {
  width: 100%;
  margin: 30px 0;
}
.home #section5 h2 {
  font-size: 20px;
  text-align: center;
  color: #423d3b;
  padding-bottom: 10px;
}
.home #section5 .slider {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.home #section5 .slider-arrow {
  width: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  background: white;
  padding: 0 10px;
}
.home #section5 .slider-arrow .fas {
  color: #423d3b;
  font-size: 30px;
}
.home #section5 .slider-arrow .fas:hover {
  color: #e92c13;
  cursor: pointer;
}
.home #section5 .slider-content {
  z-index: 0;
  overflow: hidden;
  width: calc(100% - 100px);
  position: relative;
}
.home #section5 .slider-content-margin {
  padding-top: 25%;
}
.home #section5 .slider-content-images {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.home #section5 .slider-content-images img {
  padding: 0 5px;
  width: 15%;
  transition: width 250ms linear;
}
.home #section5 .slider-content-images img.active {
  width: 40%;
}
@media (max-width: 500px) {
  .home #section5 .slider .slider-arrow {
    display: none;
  }
  .home #section5 .slider .slider-content {
    width: 100%;
  }
  .home #section5 .slider .slider-content-margin {
    display: none;
  }
  .home #section5 .slider .slider-content-images {
    flex-wrap: wrap;
    position: initial;
    justify-content: center;
  }
  .home #section5 .slider .slider-content-images img {
    width: 90%;
    padding: 5px 0;
  }
}
/****************** BEDROOMS PAGE *******************/
/***** Intro & links towards the differents bedrooms *****/
.bedrooms {
  /***** Gammes sections styles *****/
}
.bedrooms p {
  font-size: 13px;
}
.bedrooms .linksBed {
  margin: 15px 0;
  /*thumbnail links*/
  /*text intro*/
}
.bedrooms .linksBed h1 {
  color: #423d3b;
  font-size: 25px;
  padding: 25px;
  font-weight: bold;
  text-align: center;
}
.bedrooms .linksBed .vignettesBed {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /*Slide in overlay from the left*/
}
.bedrooms .linksBed .vignettesBed img {
  border-radius: 2px;
}
.bedrooms .linksBed .vignettesBed p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
}
.bedrooms .linksBed .vignettesBed a {
  color: #e92c13;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  line-height: 2.5;
}
.bedrooms .linksBed .vignettesBed a:hover {
  color: #423d3b;
  text-decoration: underline;
}
.bedrooms .linksBed .vignettesBed .image-effect {
  position: relative;
}
.bedrooms .linksBed .vignettesBed .image {
  display: block;
  width: 100%;
  height: auto;
}
.bedrooms .linksBed .vignettesBed .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e92c13;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.bedrooms .linksBed .vignettesBed .image-effect:hover .overlay {
  width: 100%;
}
.bedrooms .linksBed .vignettesBed .text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.bedrooms .linksBed .presentationBed {
  margin: 0 auto;
  max-width: 960px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 30px;
}
.bedrooms .linksBed .presentationBed p {
  color: #423d3b;
  font-size: 15px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
}
.bedrooms .linksBed .presentationBed p span {
  font-weight: bold;
}
.bedrooms #gammesRooms #classique,
.bedrooms #gammesRooms #confort,
.bedrooms #gammesRooms #deluxe,
.bedrooms #gammesRooms #suite {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  margin: 40px auto;
  justify-content: space-evenly;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  /* description bedrooms */
}
@media (max-width: 700px) {
  .bedrooms #gammesRooms #classique,
  .bedrooms #gammesRooms #confort,
  .bedrooms #gammesRooms #deluxe,
  .bedrooms #gammesRooms #suite {
    display: block;
  }
}
.bedrooms #gammesRooms #classique .image,
.bedrooms #gammesRooms #confort .image,
.bedrooms #gammesRooms #deluxe .image,
.bedrooms #gammesRooms #suite .image {
  width: 40%;
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .bedrooms #gammesRooms #classique .image,
  .bedrooms #gammesRooms #confort .image,
  .bedrooms #gammesRooms #deluxe .image,
  .bedrooms #gammesRooms #suite .image {
    display: block;
    margin: 0 auto;
  }
}
.bedrooms #gammesRooms #classique img,
.bedrooms #gammesRooms #confort img,
.bedrooms #gammesRooms #deluxe img,
.bedrooms #gammesRooms #suite img {
  width: 100%;
  margin: 0 auto;
}
.bedrooms #gammesRooms #classique .description-room,
.bedrooms #gammesRooms #confort .description-room,
.bedrooms #gammesRooms #deluxe .description-room,
.bedrooms #gammesRooms #suite .description-room {
  width: 60%;
  padding: 15px 15px 0 15px;
}
@media (max-width: 700px) {
  .bedrooms #gammesRooms #classique .description-room,
  .bedrooms #gammesRooms #confort .description-room,
  .bedrooms #gammesRooms #deluxe .description-room,
  .bedrooms #gammesRooms #suite .description-room {
    width: 100%;
  }
}
.bedrooms #gammesRooms #classique .description-room h2,
.bedrooms #gammesRooms #confort .description-room h2,
.bedrooms #gammesRooms #deluxe .description-room h2,
.bedrooms #gammesRooms #suite .description-room h2 {
  font-size: 19px;
  color: #423d3b;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.bedrooms #gammesRooms #classique .description-room .service,
.bedrooms #gammesRooms #confort .description-room .service,
.bedrooms #gammesRooms #deluxe .description-room .service,
.bedrooms #gammesRooms #suite .description-room .service {
  margin-top: 20px;
  text-align: left;
}
.bedrooms #gammesRooms #classique .description-room p,
.bedrooms #gammesRooms #confort .description-room p,
.bedrooms #gammesRooms #deluxe .description-room p,
.bedrooms #gammesRooms #suite .description-room p {
  padding: 10px 0;
  color: #423d3b;
}
.bedrooms #gammesRooms #classique .description-room .icons-service,
.bedrooms #gammesRooms #confort .description-room .icons-service,
.bedrooms #gammesRooms #deluxe .description-room .icons-service,
.bedrooms #gammesRooms #suite .description-room .icons-service {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0;
}
.bedrooms #gammesRooms #classique .description-room .icons-service .fas,
.bedrooms #gammesRooms #confort .description-room .icons-service .fas,
.bedrooms #gammesRooms #deluxe .description-room .icons-service .fas,
.bedrooms #gammesRooms #suite .description-room .icons-service .fas,
.bedrooms #gammesRooms #classique .description-room .icons-service .fab,
.bedrooms #gammesRooms #confort .description-room .icons-service .fab,
.bedrooms #gammesRooms #deluxe .description-room .icons-service .fab,
.bedrooms #gammesRooms #suite .description-room .icons-service .fab {
  color: #e92c13;
  border: 1px solid #e92c13;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bedrooms #gammesRooms #classique .description-room .icons-service p,
.bedrooms #gammesRooms #confort .description-room .icons-service p,
.bedrooms #gammesRooms #deluxe .description-room .icons-service p,
.bedrooms #gammesRooms #suite .description-room .icons-service p {
  padding-left: 10px;
  padding-top: 0;
}
.bedrooms #gammesRooms #classique .description-room .price,
.bedrooms #gammesRooms #confort .description-room .price,
.bedrooms #gammesRooms #deluxe .description-room .price,
.bedrooms #gammesRooms #suite .description-room .price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bedrooms #gammesRooms #classique .description-room .price p,
.bedrooms #gammesRooms #confort .description-room .price p,
.bedrooms #gammesRooms #deluxe .description-room .price p,
.bedrooms #gammesRooms #suite .description-room .price p {
  padding: 2px;
  text-align: right;
  font-size: 15px;
}
.bedrooms #gammesRooms #classique .description-room .price p span,
.bedrooms #gammesRooms #confort .description-room .price p span,
.bedrooms #gammesRooms #deluxe .description-room .price p span,
.bedrooms #gammesRooms #suite .description-room .price p span {
  font-size: 18px;
  color: #e92c13;
  font-weight: bolder;
}
.bedrooms #gammesRooms #classique .description-room .price button[type="submit"],
.bedrooms #gammesRooms #confort .description-room .price button[type="submit"],
.bedrooms #gammesRooms #deluxe .description-room .price button[type="submit"],
.bedrooms #gammesRooms #suite .description-room .price button[type="submit"] {
  cursor: pointer;
  border: none;
  background: #423d3b;
  color: #FFF;
  margin: 0 0 0 10px;
  padding: 10px;
  font-size: 15px;
}
.bedrooms #gammesRooms #classique .description-room .price button[type="submit"]:hover,
.bedrooms #gammesRooms #confort .description-room .price button[type="submit"]:hover,
.bedrooms #gammesRooms #deluxe .description-room .price button[type="submit"]:hover,
.bedrooms #gammesRooms #suite .description-room .price button[type="submit"]:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.bedrooms #gammesRooms #classique .description-room .price button[type="submit"]:active,
.bedrooms #gammesRooms #confort .description-room .price button[type="submit"]:active,
.bedrooms #gammesRooms #deluxe .description-room .price button[type="submit"]:active,
.bedrooms #gammesRooms #suite .description-room .price button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
@media (max-width: 930px) {
  .bedrooms #gammesRooms h2 {
    padding-top: 20px;
  }
}
/****************** HOTEL INFOS PAGE *******************/
.hotel {
  /***** Intro *****/
  /***** Access/contact-form/events/news STYLES *****/
}
.hotel :not(footer) p {
  font-size: 13px;
  color: #423d3b;
}
.hotel #pres-hotel {
  margin-bottom: 15px;
  /* Historique */
}
.hotel #pres-hotel img {
  width: 100%;
  display: block;
}
.hotel #pres-hotel #text-pres {
  padding: 0 20px;
  max-width: 960px;
  margin: 20px auto;
}
.hotel #pres-hotel #text-pres h1 {
  color: #423d3b;
  font-size: 25px;
  padding: 25px;
  font-weight: bold;
  text-align: center;
}
.hotel #pres-hotel #text-pres h2 {
  color: #423d3b;
  font-size: 19px;
  padding: 15px 0;
  font-weight: bold;
}
.hotel #pres-hotel #text-pres p {
  text-align: justify;
  padding-bottom: 10px;
}
.hotel #pres-hotel #text-pres p span {
  font-weight: bold;
}
.hotel #page-hotel {
  margin-bottom: 20px;
  /***** Access/contact-form/events/news STYLES *****/
}
.hotel #page-hotel #access-contact,
.hotel #page-hotel #events-news {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
@media (max-width: 950px) {
  .hotel #page-hotel #access-contact,
  .hotel #page-hotel #events-news {
    flex-direction: column;
    align-items: center;
  }
}
.hotel #page-hotel #access,
.hotel #page-hotel #contact,
.hotel #page-hotel #events,
.hotel #page-hotel #news {
  margin: 15px;
  padding: 10px;
  width: 45%;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: left;
  /* Access */
  /* Contact form */
  /* Videos events */
  /* Actualités */
}
@media (min-width: 1520px) {
  .hotel #page-hotel #access,
  .hotel #page-hotel #contact,
  .hotel #page-hotel #events,
  .hotel #page-hotel #news {
    width: 35%;
  }
}
@media (max-width: 1186px) {
  .hotel #page-hotel #access,
  .hotel #page-hotel #contact,
  .hotel #page-hotel #events,
  .hotel #page-hotel #news {
    display: block;
  }
}
@media (max-width: 950px) {
  .hotel #page-hotel #access,
  .hotel #page-hotel #contact,
  .hotel #page-hotel #events,
  .hotel #page-hotel #news {
    width: 60%;
  }
}
@media (max-width: 750px) {
  .hotel #page-hotel #access,
  .hotel #page-hotel #contact,
  .hotel #page-hotel #events,
  .hotel #page-hotel #news {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.hotel #page-hotel #access h2,
.hotel #page-hotel #contact h2,
.hotel #page-hotel #events h2,
.hotel #page-hotel #news h2 {
  color: #423d3b;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.hotel #page-hotel #access iframe,
.hotel #page-hotel #contact iframe,
.hotel #page-hotel #events iframe,
.hotel #page-hotel #news iframe {
  padding: 30px;
  width: 100%;
  height: 500px;
}
@media (max-width: 800px) {
  .hotel #page-hotel #access iframe,
  .hotel #page-hotel #contact iframe,
  .hotel #page-hotel #events iframe,
  .hotel #page-hotel #news iframe {
    height: 300px;
  }
}
.hotel #page-hotel #access #transport,
.hotel #page-hotel #contact #transport,
.hotel #page-hotel #events #transport,
.hotel #page-hotel #news #transport {
  width: 100%;
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .hotel #page-hotel #access #transport,
  .hotel #page-hotel #contact #transport,
  .hotel #page-hotel #events #transport,
  .hotel #page-hotel #news #transport {
    flex-direction: column;
  }
}
.hotel #page-hotel #access #transport #metro .lignes,
.hotel #page-hotel #contact #transport #metro .lignes,
.hotel #page-hotel #events #transport #metro .lignes,
.hotel #page-hotel #news #transport #metro .lignes {
  display: flex;
  flex-wrap: nowrap;
}
.hotel #page-hotel #access #transport #metro .lignes img,
.hotel #page-hotel #contact #transport #metro .lignes img,
.hotel #page-hotel #events #transport #metro .lignes img,
.hotel #page-hotel #news #transport #metro .lignes img {
  width: 20px;
  height: 20px;
  margin: 5px 2px;
}
.hotel #page-hotel #access #transport #metro .lignes p,
.hotel #page-hotel #contact #transport #metro .lignes p,
.hotel #page-hotel #events #transport #metro .lignes p,
.hotel #page-hotel #news #transport #metro .lignes p {
  font-weight: bold;
  padding: 7px 0 0 5px;
}
.hotel #page-hotel #access #transport #rer,
.hotel #page-hotel #contact #transport #rer,
.hotel #page-hotel #events #transport #rer,
.hotel #page-hotel #news #transport #rer {
  display: flex;
  flex-wrap: nowrap;
}
.hotel #page-hotel #access #transport #rer img,
.hotel #page-hotel #contact #transport #rer img,
.hotel #page-hotel #events #transport #rer img,
.hotel #page-hotel #news #transport #rer img {
  width: 20px;
  height: 20px;
  margin: 5px 2px;
}
.hotel #page-hotel #access #transport #rer p,
.hotel #page-hotel #contact #transport #rer p,
.hotel #page-hotel #events #transport #rer p,
.hotel #page-hotel #news #transport #rer p {
  font-weight: bold;
  padding: 7px 0 0 5px;
}
.hotel #page-hotel #access #transport #bus .lignes,
.hotel #page-hotel #contact #transport #bus .lignes,
.hotel #page-hotel #events #transport #bus .lignes,
.hotel #page-hotel #news #transport #bus .lignes {
  display: flex;
  flex-direction: row;
}
.hotel #page-hotel #access #transport #bus .lignes img,
.hotel #page-hotel #contact #transport #bus .lignes img,
.hotel #page-hotel #events #transport #bus .lignes img,
.hotel #page-hotel #news #transport #bus .lignes img {
  width: 20px;
  height: 20px;
  margin: 5px 2px;
}
.hotel #page-hotel #access #transport #bus .lignes p,
.hotel #page-hotel #contact #transport #bus .lignes p,
.hotel #page-hotel #events #transport #bus .lignes p,
.hotel #page-hotel #news #transport #bus .lignes p {
  font-weight: bold;
  padding: 7px 0 0 5px;
}
.hotel #page-hotel #access .title-contact,
.hotel #page-hotel #contact .title-contact,
.hotel #page-hotel #events .title-contact,
.hotel #page-hotel #news .title-contact {
  width: 100%;
}
.hotel #page-hotel #access .title-contact h3,
.hotel #page-hotel #contact .title-contact h3,
.hotel #page-hotel #events .title-contact h3,
.hotel #page-hotel #news .title-contact h3 {
  padding: 11px;
  display: block;
  font-size: 13px;
  color: #e92c13;
  text-align: center;
}
.hotel #page-hotel #access .contact-form,
.hotel #page-hotel #contact .contact-form,
.hotel #page-hotel #events .contact-form,
.hotel #page-hotel #news .contact-form {
  width: 100%;
  padding: 7px 25px 25px 25px;
  margin: 0 auto;
}
.hotel #page-hotel #access .contact-form fieldset,
.hotel #page-hotel #contact .contact-form fieldset,
.hotel #page-hotel #events .contact-form fieldset,
.hotel #page-hotel #news .contact-form fieldset {
  border: medium none;
  margin: 20px 0;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.hotel #page-hotel #access .contact-form input[type="text"],
.hotel #page-hotel #contact .contact-form input[type="text"],
.hotel #page-hotel #events .contact-form input[type="text"],
.hotel #page-hotel #news .contact-form input[type="text"],
.hotel #page-hotel #access .contact-form input[type="email"],
.hotel #page-hotel #contact .contact-form input[type="email"],
.hotel #page-hotel #events .contact-form input[type="email"],
.hotel #page-hotel #news .contact-form input[type="email"],
.hotel #page-hotel #access .contact-form textarea,
.hotel #page-hotel #contact .contact-form textarea,
.hotel #page-hotel #events .contact-form textarea,
.hotel #page-hotel #news .contact-form textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
.hotel #page-hotel #access .contact-form input[type="text"]:hover,
.hotel #page-hotel #contact .contact-form input[type="text"]:hover,
.hotel #page-hotel #events .contact-form input[type="text"]:hover,
.hotel #page-hotel #news .contact-form input[type="text"]:hover,
.hotel #page-hotel #access .contact-form input[type="email"]:hover,
.hotel #page-hotel #contact .contact-form input[type="email"]:hover,
.hotel #page-hotel #events .contact-form input[type="email"]:hover,
.hotel #page-hotel #news .contact-form input[type="email"]:hover,
.hotel #page-hotel #access .contact-form textarea:hover,
.hotel #page-hotel #contact .contact-form textarea:hover,
.hotel #page-hotel #events .contact-form textarea:hover,
.hotel #page-hotel #news .contact-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
.hotel #page-hotel #access .contact-form p,
.hotel #page-hotel #contact .contact-form p,
.hotel #page-hotel #events .contact-form p,
.hotel #page-hotel #news .contact-form p {
  color: grey;
  padding-bottom: 10px;
}
.hotel #page-hotel #access .contact-form select,
.hotel #page-hotel #contact .contact-form select,
.hotel #page-hotel #events .contact-form select,
.hotel #page-hotel #news .contact-form select {
  color: gray;
}
.hotel #page-hotel #access .contact-form select:hover,
.hotel #page-hotel #contact .contact-form select:hover,
.hotel #page-hotel #events .contact-form select:hover,
.hotel #page-hotel #news .contact-form select:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
.hotel #page-hotel #access .contact-form textarea,
.hotel #page-hotel #contact .contact-form textarea,
.hotel #page-hotel #events .contact-form textarea,
.hotel #page-hotel #news .contact-form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
.hotel #page-hotel #access .contact-form button[type="submit"],
.hotel #page-hotel #contact .contact-form button[type="submit"],
.hotel #page-hotel #events .contact-form button[type="submit"],
.hotel #page-hotel #news .contact-form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #423d3b;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
.hotel #page-hotel #access .contact-form button[type="submit"]:hover,
.hotel #page-hotel #contact .contact-form button[type="submit"]:hover,
.hotel #page-hotel #events .contact-form button[type="submit"]:hover,
.hotel #page-hotel #news .contact-form button[type="submit"]:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.hotel #page-hotel #access .contact-form button[type="submit"]:active,
.hotel #page-hotel #contact .contact-form button[type="submit"]:active,
.hotel #page-hotel #events .contact-form button[type="submit"]:active,
.hotel #page-hotel #news .contact-form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
.hotel #page-hotel #access .contact-form input:focus,
.hotel #page-hotel #contact .contact-form input:focus,
.hotel #page-hotel #events .contact-form input:focus,
.hotel #page-hotel #news .contact-form input:focus,
.hotel #page-hotel #access .contact-form textarea:focus,
.hotel #page-hotel #contact .contact-form textarea:focus,
.hotel #page-hotel #events .contact-form textarea:focus,
.hotel #page-hotel #news .contact-form textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
.hotel #page-hotel #access .contact-form ::-webkit-input-placeholder,
.hotel #page-hotel #contact .contact-form ::-webkit-input-placeholder,
.hotel #page-hotel #events .contact-form ::-webkit-input-placeholder,
.hotel #page-hotel #news .contact-form ::-webkit-input-placeholder {
  color: #888;
}
.hotel #page-hotel #access .contact-form :-moz-placeholder,
.hotel #page-hotel #contact .contact-form :-moz-placeholder,
.hotel #page-hotel #events .contact-form :-moz-placeholder,
.hotel #page-hotel #news .contact-form :-moz-placeholder {
  color: #888;
}
.hotel #page-hotel #access .contact-form ::-moz-placeholder,
.hotel #page-hotel #contact .contact-form ::-moz-placeholder,
.hotel #page-hotel #events .contact-form ::-moz-placeholder,
.hotel #page-hotel #news .contact-form ::-moz-placeholder {
  color: #888;
}
.hotel #page-hotel #access .contact-form :-ms-input-placeholder,
.hotel #page-hotel #contact .contact-form :-ms-input-placeholder,
.hotel #page-hotel #events .contact-form :-ms-input-placeholder,
.hotel #page-hotel #news .contact-form :-ms-input-placeholder {
  color: #888;
}
.hotel #page-hotel #access #events iframe,
.hotel #page-hotel #contact #events iframe,
.hotel #page-hotel #events #events iframe,
.hotel #page-hotel #news #events iframe {
  width: 100%;
}
@media (max-width: 800px) {
  .hotel #page-hotel #access #events iframe,
  .hotel #page-hotel #contact #events iframe,
  .hotel #page-hotel #events #events iframe,
  .hotel #page-hotel #news #events iframe {
    height: 200px;
  }
}
.hotel #page-hotel #access #events .p-events,
.hotel #page-hotel #contact #events .p-events,
.hotel #page-hotel #events #events .p-events,
.hotel #page-hotel #news #events .p-events {
  padding-top: 20px;
}
.hotel #page-hotel #access .actu,
.hotel #page-hotel #contact .actu,
.hotel #page-hotel #events .actu,
.hotel #page-hotel #news .actu {
  display: flex;
  padding: 10px 5px 0 0;
}
@media (max-width: 690px) {
  .hotel #page-hotel #access .actu,
  .hotel #page-hotel #contact .actu,
  .hotel #page-hotel #events .actu,
  .hotel #page-hotel #news .actu {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
  }
}
.hotel #page-hotel #access .actu a,
.hotel #page-hotel #contact .actu a,
.hotel #page-hotel #events .actu a,
.hotel #page-hotel #news .actu a {
  width: 150px;
  display: block;
}
.hotel #page-hotel #access .actu a img,
.hotel #page-hotel #contact .actu a img,
.hotel #page-hotel #events .actu a img,
.hotel #page-hotel #news .actu a img {
  display: block;
}
.hotel #page-hotel #access .actu p,
.hotel #page-hotel #contact .actu p,
.hotel #page-hotel #events .actu p,
.hotel #page-hotel #news .actu p {
  font-size: 13px;
  text-align: justify;
  padding-left: 10px;
  vertical-align: middle;
  padding-top: 10px;
}
.hotel #page-hotel #access .actu .date-icon img,
.hotel #page-hotel #contact .actu .date-icon img,
.hotel #page-hotel #events .actu .date-icon img,
.hotel #page-hotel #news .actu .date-icon img {
  width: 11px;
  height: 11px;
}
.hotel #page-hotel #access .actu .date-icon a,
.hotel #page-hotel #contact .actu .date-icon a,
.hotel #page-hotel #events .actu .date-icon a,
.hotel #page-hotel #news .actu .date-icon a {
  display: inline;
  color: #e92c13;
  text-decoration: none;
}
.hotel #page-hotel #access .actu .date-icon a:hover,
.hotel #page-hotel #contact .actu .date-icon a:hover,
.hotel #page-hotel #events .actu .date-icon a:hover,
.hotel #page-hotel #news .actu .date-icon a:hover {
  color: #423d3b;
  text-decoration: underline;
}
.hotel #page-hotel #access .actu .date-icon span,
.hotel #page-hotel #contact .actu .date-icon span,
.hotel #page-hotel #events .actu .date-icon span,
.hotel #page-hotel #news .actu .date-icon span {
  color: #e92c13;
  padding-left: 50px;
}
.hotel #page-hotel #access .actu .date,
.hotel #page-hotel #contact .actu .date,
.hotel #page-hotel #events .actu .date,
.hotel #page-hotel #news .actu .date {
  color: #6b6464 !important;
}
.hotel #page-hotel .recrut {
  width: 72%;
  margin-bottom: 20px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  display: flex;
  align-items: center;
}
@media (max-width: 950px) {
  .hotel #page-hotel .recrut {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .hotel #page-hotel .recrut {
    width: 90%;
    flex-direction: column;
  }
}
.hotel #page-hotel .recrut h2 {
  color: #423d3b;
  font-size: 19px;
  padding: 15px 0;
  font-weight: bold;
  text-align: center;
}
.hotel #page-hotel .recrut .form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
@media (max-width: 640px) {
  .hotel #page-hotel .recrut .form {
    width: 90%;
  }
}
.hotel #page-hotel .recrut .form form {
  padding: 10px;
}
.hotel #page-hotel .recrut .form form p {
  padding: 5px 0 0 5px;
}
.hotel #page-hotel .recrut .form form input[type="text"],
.hotel #page-hotel .recrut .form form input[type="email"] {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 4px;
  padding: 7px;
}
.hotel #page-hotel .recrut .form form input[type="text"]:hover,
.hotel #page-hotel .recrut .form form input[type="email"]:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
.hotel #page-hotel .recrut .form form input[type="file"] {
  margin: 4px;
  padding: 6px;
  color: grey;
}
.hotel #page-hotel .recrut .form form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #423d3b;
  color: #FFF;
  margin: 2px;
  padding: 10px;
  font-size: 15px;
}
.hotel #page-hotel .recrut .form form button[type="submit"]:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.hotel #page-hotel .recrut .form form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
.hotel #page-hotel .recrut .form form input:focus {
  outline: 0;
  border: 1px solid #999;
}
.hotel #page-hotel .recrut .form form ::-webkit-input-placeholder {
  color: #888;
}
.hotel #page-hotel .recrut .form form :-moz-placeholder {
  color: #888;
}
.hotel #page-hotel .recrut .form form ::-moz-placeholder {
  color: #888;
}
.hotel #page-hotel .recrut .form form :-ms-input-placeholder {
  color: #888;
}
.hotel #page-hotel .recrut .img-recrut {
  padding: 20px;
  width: 50%;
}
@media (max-width: 640px) {
  .hotel #page-hotel .recrut .img-recrut {
    width: 90%;
  }
}
.hotel #page-hotel .recrut .img-recrut img {
  width: 100%;
}
/****************** RESTAURANT PAGE STYLES *******************/
.restaurant {
  /***** Intro & links towards the differents menus *****/
  /***** 4 menus *****/
}
.restaurant :not(footer) p {
  font-size: 13px;
  color: #423d3b;
}
.restaurant #intro-restau {
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 15px;
  /*image intro*/
  /*text pres + images links*/
}
.restaurant #intro-restau #img-restau {
  position: relative;
}
.restaurant #intro-restau #img-restau img {
  width: 100%;
  display: block;
}
.restaurant #intro-restau #img-restau div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.restaurant #intro-restau #img-restau h1 {
  font-size: 25px;
  background: rgba(212, 211, 211, 0.733);
  padding: 15px 5px;
  font-weight: bold;
  color: #423d3b;
}
.restaurant #intro-restau h2 {
  font-size: 18px;
  text-align: center;
  padding: 30px 0 10px 0;
  font-weight: 600;
  color: #423d3b;
}
.restaurant #intro-restau #pres-restau {
  max-width: 960px;
  margin: 20px auto;
  display: flex;
}
@media (max-width: 600px) {
  .restaurant #intro-restau #pres-restau {
    flex-wrap: wrap;
  }
}
.restaurant #intro-restau #pres-restau #thumbnails-links {
  /*Slide in overlay from the left*/
}
@media (max-width: 600px) {
  .restaurant #intro-restau #pres-restau #thumbnails-links {
    width: 100%;
  }
}
.restaurant #intro-restau #pres-restau #thumbnails-links .thumbnails {
  display: flex;
}
.restaurant #intro-restau #pres-restau #thumbnails-links .image-effect {
  position: relative;
  padding: 10px;
}
.restaurant #intro-restau #pres-restau #thumbnails-links .image-effect img {
  display: block;
  width: 100%;
}
.restaurant #intro-restau #pres-restau #thumbnails-links .image-effect .overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 100%;
  background-color: #e92c13;
  transition: .5s ease;
  overflow: hidden;
}
.restaurant #intro-restau #pres-restau #thumbnails-links .image-effect .overlay .text {
  white-space: nowrap;
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.restaurant #intro-restau #pres-restau #thumbnails-links .image-effect:hover .overlay {
  right: 10px;
}
.restaurant #intro-restau #pres-restau #text-pres {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant #intro-restau #pres-restau #text-pres p {
  padding: 10px 15px;
  text-align: justify;
}
.restaurant #menus {
  margin-bottom: 20px;
}
.restaurant #menus #menu-breakfast-lunch,
.restaurant #menus #menu-afternoon-dinner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
@media (max-width: 850px) {
  .restaurant #menus #menu-breakfast-lunch,
  .restaurant #menus #menu-afternoon-dinner {
    flex-direction: column;
    align-items: center;
  }
}
.restaurant #menus .breakfast,
.restaurant #menus .lunch,
.restaurant #menus .afternoon,
.restaurant #menus .dinner {
  margin: 15px;
  padding: 10px;
  width: 45%;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  display: flex;
  justify-content: space-evenly;
  justify-content: left;
}
@media (min-width: 1520px) {
  .restaurant #menus .breakfast,
  .restaurant #menus .lunch,
  .restaurant #menus .afternoon,
  .restaurant #menus .dinner {
    width: 35%;
  }
}
@media (max-width: 1186px) {
  .restaurant #menus .breakfast,
  .restaurant #menus .lunch,
  .restaurant #menus .afternoon,
  .restaurant #menus .dinner {
    display: block;
  }
}
@media (max-width: 850px) {
  .restaurant #menus .breakfast,
  .restaurant #menus .lunch,
  .restaurant #menus .afternoon,
  .restaurant #menus .dinner {
    width: 90%;
  }
}
@media (max-width: 1186px) {
  .restaurant #menus .images-menus {
    text-align: center;
  }
}
.restaurant #menus .images-menus img {
  display: block;
  padding: 5px 10px;
  width: 150px;
}
@media (max-width: 1186px) {
  .restaurant #menus .images-menus img {
    display: inline;
    width: calc(33% - 20px);
  }
}
.restaurant #menus h2 {
  text-align: center;
  margin: 10px 0 12px 0;
  font-weight: bold;
}
.restaurant #menus p {
  padding-bottom: 2px;
  padding-left: 10px;
}
.restaurant #menus p span {
  font-weight: bold;
}
/****************** SALLES PAGE *******************/
/***** Intro & links towards the differents rooms *****/
.salles {
  /***** Gammes sections styles *****/
}
.salles p {
  font-size: 13px;
}
.salles .linksSalles {
  margin: 15px 0;
  /*thumbnail links*/
  /*text intro*/
}
.salles .linksSalles h1 {
  color: #423d3b;
  font-size: 25px;
  padding: 25px;
  font-weight: bold;
  text-align: center;
}
.salles .linksSalles .vignettesSalles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /*Slide in overlay from the left*/
}
.salles .linksSalles .vignettesSalles img {
  border-radius: 2px;
}
.salles .linksSalles .vignettesSalles p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
}
.salles .linksSalles .vignettesSalles a {
  color: #e92c13;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-decoration: none;
  line-height: 2.5;
}
.salles .linksSalles .vignettesSalles a:hover {
  color: #423d3b;
  text-decoration: underline;
}
.salles .linksSalles .vignettesSalles .image-effect {
  position: relative;
}
.salles .linksSalles .vignettesSalles .image {
  display: block;
  width: 100%;
  height: auto;
}
.salles .linksSalles .vignettesSalles .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e92c13;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.salles .linksSalles .vignettesSalles .image-effect:hover .overlay {
  width: 100%;
}
.salles .linksSalles .vignettesSalles .text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.salles .linksSalles .presentationSalles {
  margin: 0 auto;
  max-width: 960px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 30px;
}
.salles .linksSalles .presentationSalles p {
  color: #423d3b;
  font-size: 14px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
}
.salles .linksSalles .presentationSalles p span {
  font-weight: bold;
}
.salles .linksSalles .presentationSalles a {
  color: #e92c13;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-decoration: none;
  line-height: 2.5;
}
.salles .linksSalles .presentationSalles a:hover {
  color: #423d3b;
  text-decoration: underline;
}
.salles #gammesSalles #richelieu,
.salles #gammesSalles #moliere,
.salles #gammesSalles #napoleon {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  margin: 40px auto;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
}
.salles #gammesSalles #richelieu h2,
.salles #gammesSalles #moliere h2,
.salles #gammesSalles #napoleon h2 {
  font-size: 19px;
  color: #464646;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.salles #gammesSalles #richelieu .images-salles,
.salles #gammesSalles #moliere .images-salles,
.salles #gammesSalles #napoleon .images-salles {
  text-align: center;
}
.salles #gammesSalles #richelieu .images-salles img,
.salles #gammesSalles #moliere .images-salles img,
.salles #gammesSalles #napoleon .images-salles img {
  padding: 10px;
  width: calc(33% - 20px);
}
.salles #gammesSalles #richelieu .description-salles,
.salles #gammesSalles #moliere .description-salles,
.salles #gammesSalles #napoleon .description-salles {
  max-width: 960px;
}
.salles #gammesSalles #richelieu .description-salles p,
.salles #gammesSalles #moliere .description-salles p,
.salles #gammesSalles #napoleon .description-salles p {
  padding: 15px 15px 0 15px;
  color: #423d3b;
}
@media (max-width: 600px) {
  .salles #gammesSalles #richelieu .description-salles p,
  .salles #gammesSalles #moliere .description-salles p,
  .salles #gammesSalles #napoleon .description-salles p {
    text-align: justify;
  }
}
/****************** RESERVATION PAGE STYLE *******************/
.resa {
  /***** HEADER STYLES ******/
  /***** FORM STYLES ******/
}
.resa p {
  color: #423d3b;
  font-size: 13px;
}
.resa #resa-header .resa-title {
  position: relative;
}
.resa #resa-header .resa-title img {
  width: 100%;
  display: block;
}
.resa #resa-header .resa-title div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.resa #resa-header .resa-title div p {
  font-size: 25px;
  background: rgba(212, 211, 211, 0.438);
  padding: 5px 10px;
}
.resa #reservation {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 70%;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  /* Red arrow*/
  /***** garantie right side ******/
}
@media (max-width: 930px) {
  .resa #reservation {
    width: 95%;
  }
}
@media (max-width: 780px) {
  .resa #reservation {
    flex-direction: column;
  }
}
.resa #reservation h3 {
  font-size: 15px;
  color: #423d3b;
  font-weight: bold;
  padding-bottom: 15px;
}
.resa #reservation .reservation-form {
  padding: 10px 0;
  width: 80%;
  padding: 10px;
}
@media (max-width: 780px) {
  .resa #reservation .reservation-form {
    width: 100%;
  }
}
.resa #reservation .reservation-form h2 {
  font-size: 20px;
  color: #423d3b;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.resa #reservation .reservation-form h2 span {
  color: #e92c13;
  font-size: 10px;
  line-height: 2px;
}
.resa #reservation .reservation-form .dates {
  display: flex;
}
@media (max-width: 930px) {
  .resa #reservation .reservation-form .dates {
    width: 95%;
  }
}
@media (max-width: 505px) {
  .resa #reservation .reservation-form .dates {
    flex-wrap: wrap;
  }
}
@media (max-width: 391px) {
  .resa #reservation .reservation-form .dates {
    flex-direction: column;
  }
}
.resa #reservation .breadcrumb {
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .resa #reservation .breadcrumb {
    width: 80%;
  }
}
@media (max-width: 630px) {
  .resa #reservation .breadcrumb {
    width: 90%;
  }
}
@media (max-width: 530px) {
  .resa #reservation .breadcrumb {
    flex-wrap: wrap;
    justify-content: left;
  }
}
.resa #reservation .breadcrumb .arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e92c13;
  margin: 0 5px 0 5px;
}
.resa #reservation form {
  background: #e0e0e0a6;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.resa #reservation form input {
  margin: 10px 10px 0 10px;
  border: 1px solid #CCC;
  background: #FFF;
}
.resa #reservation form input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
.resa #reservation form .people {
  display: flex;
}
@media (max-width: 630px) {
  .resa #reservation form .people {
    flex-wrap: wrap;
  }
}
.resa #reservation form button {
  cursor: pointer;
  border: none;
  background: #423d3b;
  color: #FFF;
  margin: 10px 10px 10px 20px;
  padding: 10px;
  font-size: 15px;
}
.resa #reservation form button:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.resa #reservation form .fas {
  padding: 0 4px;
}
@media (max-width: 391px) {
  .resa #reservation form .fas {
    margin: 6px 0 6px 0;
  }
}
.resa #reservation form .dates {
  padding: 15px 10px 0 10px;
}
.resa #reservation form .people {
  display: flex;
  padding: 15px 10px 0 10px;
}
.resa #reservation form .people p {
  font-weight: 100;
}
.resa #reservation .tel {
  padding-top: 10px;
}
.resa #reservation .tel span {
  font-size: 15px;
  color: #e92c13;
  font-weight: bolder;
}
.resa #reservation .garantie {
  width: 20%;
  padding: 15px;
  border-left: 1px solid rgba(129, 129, 129, 0.562);
}
@media (max-width: 780px) {
  .resa #reservation .garantie {
    width: 100%;
    border-left: 0;
    border-top: 1px solid rgba(129, 129, 129, 0.562);
  }
}
.resa #reservation .garantie p {
  font-size: 13px;
  padding: 10px 0;
}
.resa #reservation .garantie p i {
  font-size: 15px;
  padding-right: 10px;
}
.resa #reservation .garantie .bank {
  display: flex;
  flex-wrap: nowrap;
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 780px) {
  .resa #reservation .garantie .bank {
    margin: 0;
  }
}
.resa #reservation .garantie .bank img {
  height: 10px;
  padding: 0 2px;
}
/****************** AVIS PAGE *******************/
.page-avis {
  /***** bloc review & bloc presse STYLES *****/
}
.page-avis :not(footer) p {
  font-size: 13px;
  color: #423d3b;
}
.page-avis .avis-presse {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 15px;
}
@media (max-width: 950px) {
  .page-avis .avis-presse {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.page-avis .avis,
.page-avis .presse {
  margin: 15px;
  padding: 10px;
  width: 45%;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /***** Form avis STYLES *****/
  /***** Last reviews STYLES *****/
  /***** presse STYLES *****/
}
@media (max-width: 950px) {
  .page-avis .avis,
  .page-avis .presse {
    width: 85%;
  }
}
.page-avis .avis h2,
.page-avis .presse h2 {
  color: #423d3b;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.page-avis .avis .stars,
.page-avis .presse .stars {
  margin: 0 auto;
  padding: 10px 0;
}
.page-avis .avis .stars .checked,
.page-avis .presse .stars .checked {
  color: orange;
}
.page-avis .avis form,
.page-avis .presse form {
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}
.page-avis .avis form input[type="text"],
.page-avis .presse form input[type="text"],
.page-avis .avis form input[type="email"],
.page-avis .presse form input[type="email"],
.page-avis .avis form input[type="tel"],
.page-avis .presse form input[type="tel"],
.page-avis .avis form input[type="url"],
.page-avis .presse form input[type="url"],
.page-avis .avis form textarea,
.page-avis .presse form textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
.page-avis .avis form input[type="text"]:hover,
.page-avis .presse form input[type="text"]:hover,
.page-avis .avis form input[type="email"]:hover,
.page-avis .presse form input[type="email"]:hover,
.page-avis .avis form input[type="tel"]:hover,
.page-avis .presse form input[type="tel"]:hover,
.page-avis .avis form input[type="url"]:hover,
.page-avis .presse form input[type="url"]:hover,
.page-avis .avis form textarea:hover,
.page-avis .presse form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
.page-avis .avis form textarea,
.page-avis .presse form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
.page-avis .avis form button[type="submit"],
.page-avis .presse form button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #423d3b;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
.page-avis .avis form button[type="submit"]:hover,
.page-avis .presse form button[type="submit"]:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.page-avis .avis form button[type="submit"]:active,
.page-avis .presse form button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
.page-avis .avis form input:focus,
.page-avis .presse form input:focus,
.page-avis .avis form textarea:focus,
.page-avis .presse form textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
.page-avis .avis form ::-webkit-input-placeholder,
.page-avis .presse form ::-webkit-input-placeholder {
  color: #888;
}
.page-avis .avis form :-moz-placeholder,
.page-avis .presse form :-moz-placeholder {
  color: #888;
}
.page-avis .avis form ::-moz-placeholder,
.page-avis .presse form ::-moz-placeholder {
  color: #888;
}
.page-avis .avis form :-ms-input-placeholder,
.page-avis .presse form :-ms-input-placeholder {
  color: #888;
}
.page-avis .avis h3,
.page-avis .presse h3 {
  color: #423d3b;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0 15px 0;
  width: 100%;
}
.page-avis .avis .tabs-menu,
.page-avis .presse .tabs-menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #c5c5c5;
  border-right: 1px solid #423d3b;
}
.page-avis .avis .tabs-menu div,
.page-avis .presse .tabs-menu div {
  width: 25%;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #423d3b;
  padding: 10px 1px;
}
.page-avis .avis .review-hotel,
.page-avis .presse .review-hotel {
  display: block;
}
.page-avis .avis .review-rooms,
.page-avis .presse .review-rooms,
.page-avis .avis .review-restau,
.page-avis .presse .review-restau,
.page-avis .avis .review-semi,
.page-avis .presse .review-semi {
  display: none;
}
.page-avis .avis .last-review,
.page-avis .presse .last-review {
  border-bottom: 1px solid #dadada;
  padding: 10px 7px;
}
.page-avis .avis .last-review p,
.page-avis .presse .last-review p {
  text-align: justify;
}
.page-avis .avis .last-review .name-review,
.page-avis .presse .last-review .name-review {
  font-weight: 600;
}
.page-avis .avis .last-review .title-review,
.page-avis .presse .last-review .title-review {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
}
.page-avis .avis .last-review .title-review p,
.page-avis .presse .last-review .title-review p {
  font-size: 14px;
  padding: 5px;
  font-weight: 600;
}
.page-avis .avis .last-review .title-review .checked,
.page-avis .presse .last-review .title-review .checked {
  color: orange;
}
.page-avis .avis a,
.page-avis .presse a {
  font-size: 13px;
  color: #e92c13;
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 0;
}
.page-avis .avis a:hover,
.page-avis .presse a:hover {
  color: #423d3b;
  text-decoration: underline;
}
.page-avis .avis .actu,
.page-avis .presse .actu {
  display: flex;
  padding: 10px 5px 0 0;
}
@media (max-width: 690px) {
  .page-avis .avis .actu,
  .page-avis .presse .actu {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
  }
}
.page-avis .avis .actu a,
.page-avis .presse .actu a {
  width: 150px;
  display: block;
}
.page-avis .avis .actu a img,
.page-avis .presse .actu a img {
  display: block;
}
.page-avis .avis .actu p,
.page-avis .presse .actu p {
  font-size: 13px;
  text-align: justify;
  padding-left: 10px;
  vertical-align: middle;
  padding-top: 10px;
}
.page-avis .avis .actu .titles-presse,
.page-avis .presse .actu .titles-presse {
  font-weight: bold;
}
.page-avis .avis .actu .date-icon img,
.page-avis .presse .actu .date-icon img {
  width: 11px;
  height: 11px;
}
.page-avis .avis .actu .date-icon a,
.page-avis .presse .actu .date-icon a {
  display: inline;
  color: #e92c13;
}
.page-avis .avis .actu .date-icon a:hover,
.page-avis .presse .actu .date-icon a:hover {
  color: #423d3b;
  text-decoration: underline;
}
.page-avis .avis .actu .date-icon span,
.page-avis .presse .actu .date-icon span {
  color: #e92c13;
  padding-left: 50px;
}
.page-avis .avis .actu .date,
.page-avis .presse .actu .date {
  color: #6b6464 !important;
}
/****************** PANIER PAGE STYLE *******************/
.panier {
  /***** ARTICLE STYLES ******/
}
.panier p {
  color: #423d3b;
  font-size: 13px;
}
.panier #panier {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 70%;
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  /***** garantie right side ******/
}
@media (max-width: 930px) {
  .panier #panier {
    width: 95%;
  }
}
@media (max-width: 780px) {
  .panier #panier {
    flex-direction: column;
  }
}
.panier #panier h2 {
  font-size: 17px;
  color: #423d3b;
  font-weight: bold;
  padding-bottom: 15px;
}
.panier #panier .article {
  padding: 10px 0;
  width: 60%;
  padding: 10px;
}
@media (max-width: 780px) {
  .panier #panier .article {
    width: 100%;
  }
}
.panier #panier .article h1 {
  font-size: 20px;
  color: #423d3b;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.panier #panier .article h1 span {
  color: #e92c13;
  font-size: 10px;
  line-height: 2px;
}
.panier #panier .content {
  background: #e0e0e0a6;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  widows: 80%;
  min-height: 70px;
  color: #423d3b;
  display: flex;
  align-items: center;
}
.panier #panier .content p {
  font-size: 15px;
  line-height: 6px;
  text-align: center;
  padding-left: 10px;
}
.panier #panier .total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
}
.panier #panier .total p {
  padding: 2px;
  text-align: right;
  font-size: 15px;
}
.panier #panier .total p span {
  font-size: 18px;
  color: #e92c13;
  font-weight: bolder;
}
.panier #panier .pay {
  width: 40%;
  padding: 15px;
  border-left: 1px solid rgba(129, 129, 129, 0.562);
}
@media (max-width: 780px) {
  .panier #panier .pay {
    width: 100%;
    border-left: 0;
    border-top: 1px solid rgba(129, 129, 129, 0.562);
  }
}
.panier #panier .pay p {
  font-size: 13px;
  padding: 10px 0;
}
.panier #panier .pay p i {
  font-size: 15px;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
}
.panier #panier .pay form {
  font-size: 13px;
  color: #424242;
}
.panier #panier .pay form button {
  cursor: pointer;
  border: none;
  background: #423d3b;
  color: #FFF;
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.panier #panier .pay form button:hover {
  background: #e92c13;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.panier #panier .pay form button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
.panier #panier .pay p {
  text-align: center;
}
.panier #panier .pay .bank {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
@media (max-width: 780px) {
  .panier #panier .pay .bank {
    margin: 0;
  }
}
.panier #panier .pay .bank img {
  height: 18px;
  padding: 0 4px;
}
/****************** MENTIONS LEGALES : SECTIONS STYLES *******************/
.mentions section {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}
@media (max-width: 1400px) {
  .mentions section {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .mentions section {
    width: 90%;
  }
}
.mentions section h1 {
  font-size: 27px;
  padding: 30px 0 30px 0;
  text-align: center;
  font-weight: bold;
}
.mentions section h2 {
  font-size: 16px;
  background-color: #cfcfcf;
  text-align: center;
  padding: 5px 3px;
  font-weight: 600;
  margin: 15px 0;
}
.mentions section p {
  font-size: 14px;
  text-align: justify;
  line-height: 1.4;
  padding: 10px 0;
}
.mentions section .list {
  font-size: 14px;
  display: block;
  background-color: white;
  list-style-type: circle;
  list-style-position: inside;
  text-align: justify;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
/****************** PLAN DU SITE : SECTIONS STYLES *******************/
.plan section {
  width: 80%;
  min-height: 600px;
  margin: 0 auto;
}
.plan section h1 {
  font-size: 27px;
  padding: 30px 0 30px 0;
  text-align: center;
  font-weight: bold;
}
.plan section a {
  color: #e92c13;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
  line-height: 2.5;
  display: block;
  text-align: justify;
}
.plan section a:hover {
  color: #423d3b;
  text-decoration: underline;
}
/*# sourceMappingURL=./main.css.map */