// main: main.less

@import 'variables.less';

/****************** AVIS PAGE *******************/

.page-avis {

    :not(footer) {
        p {
            font-size: 13px;
            color: @grey-color;
        }
    }

    /***** bloc review & bloc presse STYLES *****/

    .avis-presse {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        padding: 15px;

        @media (max-width: 950px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .avis,
    .presse {
        margin: 15px;
        padding: 10px;
        width: 45%;
        box-shadow: 5px 5px 10px 0px #c0c0c0;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        @media (max-width: 950px) {
            width: 85%;
        }

        h2 {
            color: @grey-color;
            font-size: 19px;
            font-weight: bold;
            text-align: center;
            padding: 10px 0;
            width: 100%;
        }

        .stars {
            margin: 0 auto;
            padding: 10px 0;

            .checked {
                color: orange;
            }
        }

        /***** Form avis STYLES *****/

        form {
            padding: 15px 0;
            width: 90%;
            margin: 0 auto;

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="url"],
            textarea {
                width: 100%;
                border: 1px solid #CCC;
                background: #FFF;
                margin: 0 0 5px;
                padding: 10px;
            }

            input[type="text"]:hover,
            input[type="email"]:hover,
            input[type="tel"]:hover,
            input[type="url"]:hover,
            textarea:hover {
                -webkit-transition: border-color 0.3s ease-in-out;
                -moz-transition: border-color 0.3s ease-in-out;
                transition: border-color 0.3s ease-in-out;
                border: 1px solid #AAA;
            }

            textarea {
                height: 100px;
                max-width: 100%;
                resize: none;
            }

            button[type="submit"] {
                cursor: pointer;
                width: 100%;
                border: none;
                background: @grey-color;
                color: #FFF;
                margin: 0 0 5px;
                padding: 10px;
                font-size: 15px;
            }

            button[type="submit"]:hover {
                background: @red-color;
                -webkit-transition: background 0.3s ease-in-out;
                -moz-transition: background 0.3s ease-in-out;
                transition: background-color 0.3s ease-in-out;
            }

            button[type="submit"]:active {
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
            }

            input:focus,
            textarea:focus {
                outline: 0;
                border: 1px solid #999;
            }

            ::-webkit-input-placeholder {
                color: #888;
            }

            :-moz-placeholder {
                color: #888;
            }

            ::-moz-placeholder {
                color: #888;
            }

            :-ms-input-placeholder {
                color: #888;
            }
        }

        /***** Last reviews STYLES *****/

        h3 {
            color: @grey-color;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0 15px 0;
            width: 100%;
        }

        .tabs-menu {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            background-color: rgb(197, 197, 197);
            border-right: 1px solid @grey-color;
            
            div {
                width: 25%;
                text-align: center;
                cursor: pointer;
                border-left: 1px solid @grey-color;
                padding: 10px 1px;
            }
        }

        .review-hotel{
            display: block;
        }

        .review-rooms,
        .review-restau,
        .review-semi {
            display: none;
        }

        .last-review {
            border-bottom: 1px solid rgb(218, 218, 218);
            padding: 10px 7px;

            p {
                text-align: justify;
            }

            .name-review {
                font-weight: 600;
            }

            .title-review {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 7px;

                p {
                    font-size: 14px;
                    padding: 5px;
                    font-weight: 600;
                }

                .checked {
                    color: orange;
                }
            }
        }

        a {
            font-size: 13px;
            color: @red-color;
            text-decoration: none;
            margin: 0 auto;
            padding: 10px 0;

            &:hover {
                color: @grey-color;
                text-decoration: underline;
            }
        }

        /***** presse STYLES *****/

        .actu {
            display: flex;
            padding: 10px 5px 0 0;

            @media (max-width: 690px) {
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
                padding-right: 10px;
            }

            a {
                width: 150px;
                display: block;

                img {
                    display: block;
                }
            }

            p {
                font-size: 13px;
                text-align: justify;
                padding-left: 10px;
                vertical-align: middle;
                padding-top: 10px;
            }

            .titles-presse {
                font-weight: bold;
            }

            .date-icon {
                img {
                    width: 11px;
                    height: 11px;
                }

                a {
                    display: inline;
                    color: @red-color;

                    &:hover {
                        color: @grey-color;
                        text-decoration: underline;
                    }
                }

                span {
                    color: @red-color;
                    padding-left: 50px;
                }
            }

            .date {
                color: rgb(107, 100, 100) !important;
            }
        }
    }
}