// main: main.less

@import 'variables.less';

/****************** BEDROOMS PAGE *******************/

/***** Intro & links towards the differents bedrooms *****/

.bedrooms {
    p {
        font-size: 13px;
    }

    .linksBed {
        margin: 15px 0;

        h1 {
            color: @grey-color;
            font-size: 25px;
            padding: 25px;
            font-weight: bold;
            text-align: center;
        }

        /*thumbnail links*/

        .vignettesBed {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            img {
                border-radius: 2px;
            }

            p {
                font-size: 13px;
                text-align: center;
                margin-bottom: 30px;
            }

            a {
                color: @red-color;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                text-decoration: none;
                line-height: 2.5;

                &:hover {
                    color: @grey-color;
                    text-decoration: underline;
                }
            }

            /*Slide in overlay from the left*/

            .image-effect {
                position: relative;
            }

            .image {
                display: block;
                width: 100%;
                height: auto;
            }

            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: @red-color;
                overflow: hidden;
                width: 0;
                height: 100%;
                transition: .5s ease;
            }

            .image-effect:hover .overlay {
                width: 100%;
            }

            .text {
                white-space: nowrap;
                color: white;
                font-size: 20px;
                position: absolute;
                overflow: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
        }

        /*text intro*/

        .presentationBed {
            margin: 0 auto;
            max-width: 960px;
            border-top: 1px solid rgb(212, 212, 212);
            border-bottom: 1px solid rgb(212, 212, 212);
            margin-bottom: 30px;

            p {
                color: @grey-color;
                font-size: 15px;
                padding: 15px 15px 15px 15px;
                text-align: justify;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    /***** Gammes sections styles *****/

    #gammesRooms {

        #classique,
        #confort,
        #deluxe,
        #suite {
            width: 80%;
            display: flex;
            margin: 0 auto;
            padding: 20px 0;
            margin: 40px auto;
            justify-content: space-evenly;
            box-shadow: 5px 5px 10px 0px #c0c0c0;

            @media (max-width: 700px) {
                display: block;
            }

            .image {
                width: 40%;
                display: flex;
                align-items: center;

                @media (max-width: 700px) {
                    display: block;
                    margin: 0 auto;
                }
            }

            img {
                width: 100%;
                margin: 0 auto;
            }

            /* description bedrooms */

            .description-room {
                width: 60%;
                padding: 15px 15px 0 15px;

                @media (max-width: 700px) {
                    width: 100%;
                }

                h2 {
                    font-size: 19px;
                    color: @grey-color;
                    padding-bottom: 10px;
                    font-weight: bold;
                    text-align: center;
                }

                .service {
                    margin-top: 20px;
                    text-align: left;
                }

                p {
                    padding: 10px 0;
                    color: @grey-color;
                }

                .icons-service {
                    display: flex;
                    flex-wrap: nowrap;
                    margin: 10px 0;

                    .fas,
                    .fab {
                        color: @red-color;
                        border: 1px solid @red-color;
                        border-radius: 50%;
                        width: 28px;
                        height: 28px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    p {
                        padding-left: 10px;
                        padding-top: 0;
                    }
                }

                .price {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    p {
                        padding: 2px;
                        text-align: right;
                        font-size: 15px;

                        span {
                            font-size: 18px;
                            color: @red-color;
                            font-weight: bolder;
                        }
                    }

                    button[type="submit"] {
                        cursor: pointer;
                        border: none;
                        background: @grey-color;
                        color: #FFF;
                        margin: 0 0 0 10px;
                        padding: 10px;
                        font-size: 15px;

                        &:hover {
                            background: @red-color;
                            -webkit-transition: background 0.3s ease-in-out;
                            -moz-transition: background 0.3s ease-in-out;
                            transition: background-color 0.3s ease-in-out;
                        }

                        &:active {
                            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }

        @media (max-width:930px) {
            h2 {
                padding-top: 20px;
            }
        }
    }
}