// main: main.less

@import 'variables.less';

/****************** HOTEL INFOS PAGE *******************/

.hotel {

    :not(footer) {
        p {
            font-size: 13px;
            color: @grey-color;
        }
    }

    /***** Intro *****/

    #pres-hotel {
        margin-bottom: 15px;

        img {
            width: 100%;
            display: block;
        }

        /* Historique */

        #text-pres {
            padding: 0 20px;
            max-width: 960px;
            margin: 20px auto;

            h1 {
                color: @grey-color;
                font-size: 25px;
                padding: 25px;
                font-weight: bold;
                text-align: center;
            }

            h2 {
                color: @grey-color;
                font-size: 19px;
                padding: 15px 0;
                font-weight: bold;
            }

            p {
                text-align: justify;
                padding-bottom: 10px;

                span {
                    font-weight: bold;
                }
            }
        }
    }

    /***** Access/contact-form/events/news STYLES *****/

    #page-hotel {
        margin-bottom: 20px;

        #access-contact,
        #events-news {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;

            @media (max-width: 950px) {
                flex-direction: column;
                align-items: center;
            }
        }

        #access,
        #contact,
        #events,
        #news {
            margin: 15px;
            padding: 10px;
            width: 45%;
            box-shadow: 5px 5px 10px 0px #c0c0c0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            justify-content: left;

            @media (min-width: 1520px) {
                width: 35%;
            }

            @media (max-width: 1186px) {
                display: block;
            }

            @media (max-width: 950px) {
                width: 60%;
            }

            @media (max-width: 750px) {
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }

            h2 {
                color: @grey-color;
                font-size: 19px;
                font-weight: bold;
                text-align: center;
                padding: 10px 0;
                width: 100%;
            }

            /* Access */

            iframe {
                padding: 30px;
                width: 100%;
                height: 500px;

                @media (max-width: 800px) {
                    height: 300px;
                }
            }

            #transport {
                width: 100%;
                display: flex;
                padding: 15px 30px;
                justify-content: space-between;

                @media (max-width: 650px) {
                    flex-direction: column;
                }

                #metro {
                    .lignes {
                        display: flex;
                        flex-wrap: nowrap;

                        img {
                            width: 20px;
                            height: 20px;
                            margin: 5px 2px;
                        }

                        p {
                            font-weight: bold;
                            padding: 7px 0 0 5px;
                        }
                    }
                }

                #rer {
                    display: flex;
                    flex-wrap: nowrap;

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 5px 2px;
                    }

                    p {
                        font-weight: bold;
                        padding: 7px 0 0 5px;
                    }
                }

                #bus {
                    .lignes {
                        display: flex;
                        flex-direction: row;

                        img {
                            width: 20px;
                            height: 20px;
                            margin: 5px 2px;
                        }

                        p {
                            font-weight: bold;
                            padding: 7px 0 0 5px;
                        }
                    }
                }
            }

            /* Contact form */

            .title-contact {
                width: 100%;

                h3 {
                    padding: 11px;
                    display: block;
                    font-size: 13px;
                    color: @red-color;
                    text-align: center;
                }
            }

            .contact-form {
                width: 100%;
                padding: 7px 25px 25px 25px;
                margin: 0 auto;

                fieldset {
                    border: medium none;
                    margin: 20px 0;
                    min-width: 100%;
                    padding: 0;
                    width: 100%;
                }

                input[type="text"],
                input[type="email"],
                textarea {
                    width: 100%;
                    border: 1px solid #CCC;
                    background: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;

                    &:hover {
                        -webkit-transition: border-color 0.3s ease-in-out;
                        -moz-transition: border-color 0.3s ease-in-out;
                        transition: border-color 0.3s ease-in-out;
                        border: 1px solid #AAA;
                    }
                }

                p {
                    color: grey;
                    padding-bottom: 10px;
                }

                select {
                    color: gray;

                    &:hover {
                        -webkit-transition: border-color 0.3s ease-in-out;
                        -moz-transition: border-color 0.3s ease-in-out;
                        transition: border-color 0.3s ease-in-out;
                        border: 1px solid #AAA;
                    }
                }

                textarea {
                    height: 100px;
                    max-width: 100%;
                    resize: none;
                }

                button[type="submit"] {
                    cursor: pointer;
                    width: 100%;
                    border: none;
                    background: @grey-color;
                    color: #FFF;
                    margin: 0 0 5px;
                    padding: 10px;
                    font-size: 15px;

                    &:hover {
                        background: @red-color;
                        -webkit-transition: background 0.3s ease-in-out;
                        -moz-transition: background 0.3s ease-in-out;
                        transition: background-color 0.3s ease-in-out;
                    }

                    &:active {
                        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
                    }
                }

                input:focus,
                textarea:focus {
                    outline: 0;
                    border: 1px solid #999;
                }

                ::-webkit-input-placeholder {
                    color: #888;
                }

                :-moz-placeholder {
                    color: #888;
                }

                ::-moz-placeholder {
                    color: #888;
                }

                :-ms-input-placeholder {
                    color: #888;
                }
            }

            /* Videos events */

            #events {
                iframe {
                    width: 100%;

                    @media (max-width: 800px) {
                        height: 200px;
                    }
                }

                .p-events {
                    padding-top: 20px;
                }
            }

            /* Actualités */

            .actu {
                display: flex;
                padding: 10px 5px 0 0;

                @media (max-width: 690px) {
                    flex-direction: column;
                    align-items: center;
                    padding-top: 20px;
                    padding-right: 10px;
                }

                a {
                    width: 150px;
                    display: block;

                    img {
                        display: block;
                    }
                }

                p {
                    font-size: 13px;
                    text-align: justify;
                    padding-left: 10px;
                    vertical-align: middle;
                    padding-top: 10px;
                }

                .date-icon {
                    img {
                        width: 11px;
                        height: 11px;
                    }

                    a {
                        display: inline;
                        color: @red-color;
                        text-decoration: none;

                        &:hover {
                            color: @grey-color;
                            text-decoration: underline;
                        }
                    }

                    span {
                        color: @red-color;
                        padding-left: 50px;
                    }
                }

                .date {
                    color: rgb(107, 100, 100) !important;
                }
            }
        }

        /***** Access/contact-form/events/news STYLES *****/

        .recrut {
            width: 72%;
            margin-bottom: 20px;
            margin: 0 auto;
            box-shadow: 5px 5px 10px 0px #c0c0c0;
            display: flex;
            align-items: center;

            @media (max-width: 950px) {
                width: 90%;
            }

            @media (max-width: 640px) {
                width: 90%;
                flex-direction: column;
            }

            h2 {
                color: @grey-color;
                font-size: 19px;
                padding: 15px 0;
                font-weight: bold;
                text-align: center;
            }

            .form {
                display: flex;
                flex-direction: column;
                width: 50%;
                align-items: center;

                @media (max-width: 640px) {
                    width: 90%;
                }

                form {
                    padding: 10px;

                    p {
                        padding: 5px 0 0 5px;
                    }

                    input[type="text"],
                    input[type="email"] {
                        width: 100%;
                        border: 1px solid #CCC;
                        background: #FFF;
                        margin: 4px;
                        padding: 7px;

                        &:hover {
                            -webkit-transition: border-color 0.3s ease-in-out;
                            -moz-transition: border-color 0.3s ease-in-out;
                            transition: border-color 0.3s ease-in-out;
                            border: 1px solid #AAA;
                        }
                    }

                    input[type="file"] {
                        margin: 4px;
                        padding: 6px;
                        color: grey;
                    }

                    button[type="submit"] {
                        cursor: pointer;
                        width: 100%;
                        border: none;
                        background: @grey-color;
                        color: #FFF;
                        margin: 2px;
                        padding: 10px;
                        font-size: 15px;

                        &:hover {
                            background: @red-color;
                            -webkit-transition: background 0.3s ease-in-out;
                            -moz-transition: background 0.3s ease-in-out;
                            transition: background-color 0.3s ease-in-out;
                        }

                        &:active {
                            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
                        }
                    }

                    input:focus {
                        outline: 0;
                        border: 1px solid #999;
                    }

                    ::-webkit-input-placeholder {
                        color: #888;
                    }

                    :-moz-placeholder {
                        color: #888;
                    }

                    ::-moz-placeholder {
                        color: #888;
                    }

                    :-ms-input-placeholder {
                        color: #888;
                    }
                }
            }

            .img-recrut {
                padding: 20px;
                width: 50%;

                @media (max-width: 640px) {
                    width: 90%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}