// main: main.less

@import 'variables.less';

/****************** INDEX : SECTIONS STYLES *******************/

.home {

    /***** Presentation section *****/

    #paribis-intro {
        width: 100%;
    }

    /* image intro */

    .accueil {
        position: relative;

        img {
            width: 100%;
            display: block;
        }

        .reservation-form {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 0;
            color: @grey-color;
        }

        .index-reservation {
            font-size: 25px;
            font-weight: 700;
            background: rgba(212, 211, 211, 0.719);
            margin-bottom: 10px;
            padding: 3px 5px;
            border-radius: 2%;

            @media (max-width: 540px) {
                font-size: 17px;
                margin-bottom: 5px;
            }

            @media (max-width: 483px) {
                font-size: 15px;
                margin-bottom: 2px;
            }

            @media (max-width: 353px) {
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        .form-index {
            position: relative;
            background: rgba(212, 211, 211, 0.719);
            padding: 7px 10px;
            border-radius: 2%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;

            @media (max-width: 540px) {
                padding: 2px 4px;
            }

            form {
                @media (max-width: 540px) {
                    font-size: 13px;
                }

                @media (max-width: 483px) {
                    font-size: 12px;
                }

                @media (max-width: 353px) {
                    font-size: 11px;
                }

                input {
                    padding: 3px;
                    margin: 5px 2px;

                    @media (max-width: 483px) {
                        padding: 2px;
                        margin: 1px 1px;
                    }

                    @media (max-width: 353px) {
                        padding: 1px;
                    }
                }

                select {
                    padding: 3px;
                }

                #resa-submit {
                    cursor: pointer;
                    border: none;
                    background: @grey-color;
                    color: #FFF;
                    margin: 10px 5px 10px 20px;
                    padding: 7px;
                    font-size: 15px;

                    @media (max-width: 483px) {
                        font-size: 12px;
                        margin: 5px 5px 10px 10px;
                        padding: 5px;
                    }

                    @media (max-width: 353px) {
                        padding: 3px;
                        margin: 2px 5px 2px 5px;
                    }

                    &:hover {
                        background: @red-color;
                        -webkit-transition: background 0.3s ease-in-out;
                        -moz-transition: background 0.3s ease-in-out;
                        transition: background-color 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    /* texte intro */

    .presentation {

        h1 {
            color: #333;
            font-size: 25px;
            padding: 20px;
            font-weight: bold;
            text-align: center;
        }

        p {
            color: #333;
            font-size: 13px;
            padding: 10px 0;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .center {
        text-align: center;
        color: @red-color  !important;
        font-weight: bold;
    }

    /***** 4 columns section (bedrooms, restaurant, privatization,access *****/

    #paribis-services,
    #presse-news {
        max-width: 960px;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .fourColumns {
        width: 25%;
        padding: 0 15px;

        img {
            display: block;
            width: 100%;
        }

        h2 {
            color: #333;
            font-size: 18px;
            padding: 10px 0;
            text-align: center;
        }

        p {
            color: #333;
            font-size: 13px;
            text-align: justify;
        }

        a {
            color: @red-color;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            text-decoration: none;
            line-height: 2.5;

            &:hover {
                color: #333;
                text-decoration: underline;
            }
        }

        @media (max-width:880px) {
            width: 50%;
        }

        @media (max-width:440px) {
            width: 100%;
        }
    }

    /***** Hotel informations section *****/

    #img-info {
        width: 100%;
        margin-top: 20px;

        .hotel-info {
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            div {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
                width: 35%;
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                background: rgba(212, 211, 211, 0.67);

                @media (max-width: 850px) {
                    width: 100%;
                }

                h2 {
                    font-size: 25px;
                    text-align: center;
                    color: @grey-color;
                    padding: 20px 0;
                    font-weight: bold;

                    @media (max-width: 730px) {
                        font-size: 17px;
                    }

                    @media (max-width: 600px) {
                        padding: 5px 0;
                    }

                    @media (max-width: 530px) {
                        font-size: 14px;
                    }

                    @media (max-width: 440px) {
                        font-size: 13px;
                    }
                }

                p {
                    font-size: 15px;
                    text-align: justify;
                    color: @grey-color;
                    padding: 7px 0;

                    @media (max-width: 730px) {
                        font-size: 12px;
                    }

                    span {
                        font-weight: 650;
                    }

                    @media (max-width: 600px) {
                        padding: 2px 0;
                    }

                    @media (max-width: 530px) {
                        font-size: 11px;
                    }

                    @media (max-width: 440px) {
                        font-size: 9px;
                    }
                }

                a {
                    color: @red-color;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 15px;
                    text-decoration: none;
                    line-height: 2.5;
                    display: block;
                    text-align: justify;

                    &:hover {
                        color: @grey-color;
                        text-decoration: underline;
                    }

                    @media (max-width: 530px) {
                        font-size: 11px;
                    }

                    @media (max-width: 440px) {
                        font-size: 9px;
                    }
                }
            }
        }
    }

    /***** 2 columns (presse and news) section *****/

    .twoColumns {
        width: 400px;

        h2 {
            color: @grey-color;
            font-size: 20px;
            padding: 10px 0;
            text-align: center;
        }

        a {
            color: @red-color;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            text-decoration: none;
            line-height: 2.5;
            display: block;
            text-align: center;

            &:hover {
                color: @grey-color;
                text-decoration: underline;
            }
        }

        p {
            color: @grey-color;
            font-size: 13px;
            text-align: justify;
            padding: 0 10px;
        }

        .presse {
            width: 100%;
            padding: 10px 0;
        }

        /* div news styles */

        .actu {
            display: flex;
            padding: 10px 0;

            @media (max-width: 425px) {
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
                padding-right: 10px;
            }

            a {
                width: 150px;
                display: block;

                img {
                    display: block;
                }
            }

            p {
                font-size: 13px;
                text-align: justify;
                padding-left: 10px;
                vertical-align: middle;
                padding-top: 10px;

            }

            .date-icon {
                img {
                    width: 11px;
                    height: 11px;
                }

                a {
                    display: inline;
                }

                span {
                    color: @red-color;
                    padding-left: 50px;
                }
            }

            .date {
                color: rgb(107, 100, 100) !important;
            }
        }
    }

    /***** slider hotel images section *****/

    #section5 {
        width: 100%;
        margin: 30px 0;

        h2 {
            font-size: 20px;
            text-align: center;
            color: @grey-color;
            padding-bottom: 10px;
        }

        .slider {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            &-arrow {
                width: 50px;
                z-index: 1;
                display: flex;
                align-items: center;
                background: white;
                padding: 0 10px;

                .fas {
                    color: @grey-color;
                    font-size: 30px;

                    &:hover {
                        color: @red-color;
                        cursor: pointer;
                    }
                }
            }

            &-content {
                z-index: 0;
                overflow: hidden;
                width: calc(~'100% - 100px');
                position: relative;

                &-margin {
                    padding-top: 25%;
                }

                &-images {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    img {
                        padding: 0 5px;
                        width: 15%;
                        transition: width 250ms linear;

                        &.active {
                            width: 40%;
                        }
                    }
                }
            }

            @media (max-width: 500px) {
                .slider {
                    &-arrow {
                        display: none;
                    }

                    &-content {
                        width: 100%;

                        &-margin {
                            display: none;
                        }

                        &-images {
                            flex-wrap: wrap;
                            position: initial;
                            justify-content: center;

                            img {
                                width: 90%;
                                padding: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}