// main: main.less

@import 'variables.less';

/****************** MENTIONS LEGALES : SECTIONS STYLES *******************/

.mentions {

    section {
        width: 60%;
        margin: 0 auto;
        padding: 10px 0 20px 0;
        @media (max-width: 1400px) {
            width: 80%;
        }
        @media (max-width: 1000px) {
            width: 90%;
        }

        h1 {
            font-size: 27px;
            padding: 30px 0 30px 0;
            text-align: center;
            font-weight: bold;
        }

        h2 {
            font-size: 16px;
            background-color: rgb(207, 207, 207);
            text-align: center;
            padding: 5px 3px;
            font-weight: 600;
            margin: 15px 0;
        }

        p {
            font-size: 14px;
            text-align: justify;
            line-height: 1.4;
            padding: 10px 0;
        }

        .list {
            font-size: 14px;
            display: block;
            background-color: white;
            list-style-type: circle;
            list-style-position: inside;
            text-align: justify;
            line-height: 1.3;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5;
        }
    }
}