// main: main.less

@import 'variables.less';

/****************** MENU STYLE *******************/

#btn-menu {
  display: inline-block;
  cursor: pointer;

  &.active {
    .bar1 {
      transform: translateY(11px) rotate(225deg);
    }

    .bar3 {
      transform: translateY(-11px) rotate(-225deg);
    }

    .bar2 {
      opacity: 0;
    }
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    opacity: 1;
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
    transform-origin: center center;
  }
}

nav {
  width: @menu-width;
  margin-top: @header-height;
  position: fixed;
  height: 100%;
  box-shadow: 0px 0 4px 0 #777;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background: rgb(255, 255, 255);
  z-index: 99;

  &.open {
    transform: translateX(0);
  }

  ul {
    padding-top: 15px;
    padding-left: 0;
    list-style: none;
  }

  li {

    a {
      text-decoration: none;
      color: @grey-color;
      display: block;
      padding: 13px 15px;

      &.active {
        background: rgba(233, 44, 19, 0.705);
      }

      &:hover {
        background: rgba(218, 214, 214, 0.61)
      }
    }
  }

  form {
    padding: 13px 15px;
    color: @grey-color;

    label,
    .far {
      margin: 0 3px 8px 0;
    }

    input {
      border: 1px solid #CCC;
      background: #FFF;

      &:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #AAA;
      }

      &:focus {
        outline: 0;
        border: 1px solid #999;
      }
    }

    button {
      cursor: pointer;
      border: none;
      background: @grey-color;
      color: #FFF;
      padding: 2px 4px;

      &:hover {
        background: @red-color;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
      }

      &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }

  iframe {
    margin-left: 13px;
    //width="73" height="20"
  }

  @media (max-width:600px) {
    width: 100%;
  }
}