// main: main.less

@import 'variables.less';

/****************** PANIER PAGE STYLE *******************/

.panier {

    p {
        color: @grey-color;
        font-size: 13px;
    }

    /***** ARTICLE STYLES ******/

    #panier {
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        width: 70%;
        box-shadow: 5px 5px 10px 0px #c0c0c0;

        @media (max-width: 930px) {
            width: 95%;
        }

        @media (max-width: 780px) {
            flex-direction: column;
        }

        h2 {
            font-size: 17px;
            color: @grey-color;
            font-weight: bold;
            padding-bottom: 15px;
        }

        .article {
            padding: 10px 0;
            width: 60%;
            padding: 10px;

            @media (max-width: 780px) {
                width: 100%;
            }

            h1 {
                font-size: 20px;
                color: @grey-color;
                font-weight: bold;
                text-align: center;
                margin-bottom: 30px;

                span {
                    color: @red-color;
                    font-size: 10px;
                    line-height: 2px;
                }
            }
        }

        .content {
            background: #e0e0e0a6;
            margin-top: 20px;
            font-size: 13px;
            font-weight: bold;
            padding: 10px;
            widows: 80%;
            min-height: 70px;
            color: @grey-color;
            display: flex;
            align-items: center;

            p {
                font-size: 15px;
                line-height: 6px;
                text-align: center;
                padding-left: 10px;
            }

        }

        .total {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 20px 0;

            p {
                padding: 2px;
                text-align: right;
                font-size: 15px;

                span {
                    font-size: 18px;
                    color: @red-color;
                    font-weight: bolder;
                }
            }
        }

        /***** garantie right side ******/

        .pay {
            width: 40%;
            padding: 15px;
            border-left: 1px solid rgba(129, 129, 129, 0.562);

            @media (max-width: 780px) {
                width: 100%;
                border-left: 0;
                border-top: 1px solid rgba(129, 129, 129, 0.562);
            }

            p {
                font-size: 13px;
                padding: 10px 0;

                i {
                    font-size: 15px;
                    padding-right: 10px;
                    font-family: 'Open Sans', sans-serif;
                }
            }

            form {
                font-size: 13px;
                color: rgb(66, 66, 66);

                button {
                    cursor: pointer;
                    border: none;
                    background: @grey-color;
                    color: #FFF;
                    margin-top: 10px;
                    padding: 8px 10px;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;

                    &:hover {
                        background: @red-color;
                        -webkit-transition: background 0.3s ease-in-out;
                        -moz-transition: background 0.3s ease-in-out;
                        transition: background-color 0.3s ease-in-out;
                    }

                    &:active {
                        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
                    }
                }
            }

            p {
                text-align: center;
            }

            .bank {
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;

                @media (max-width: 780px) {
                    margin: 0;
                }

                img {
                    height: 18px;
                    padding: 0 4px;
                }
            }
        }
    }
}