// main: main.less

@import 'variables.less';

/****************** PLAN DU SITE : SECTIONS STYLES *******************/

.plan {

    section {
        width: 80%;
        min-height: 600px;
        margin: 0 auto;

        h1 {
            font-size: 27px;
            padding: 30px 0 30px 0;
            text-align: center;
            font-weight: bold;
        }

        a {
            color: @red-color;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            text-decoration: none;
            line-height: 2.5;
            display: block;
            text-align: justify;

            &:hover {
                color: @grey-color;
                text-decoration: underline;
            }
        }
    }
}