// main: main.less

@import 'variables.less';

/****************** RESERVATION PAGE STYLE *******************/

.resa {

    p {
        color: @grey-color;
        font-size: 13px;
    }

    /***** HEADER STYLES ******/

    #resa-header {
        .resa-title {
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            div {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 0;

                p {
                    font-size: 25px;
                    background: rgba(212, 211, 211, 0.438);
                    padding: 5px 10px;
                }
            }
        }
    }

    /***** FORM STYLES ******/

    #reservation {
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        width: 70%;
        box-shadow: 5px 5px 10px 0px #c0c0c0;

        @media (max-width: 930px) {
            width: 95%;
        }

        @media (max-width: 780px) {
            flex-direction: column;
        }

        h3 {
            font-size: 15px;
            color: @grey-color;
            font-weight: bold;
            padding-bottom: 15px;
        }

        .reservation-form {
            padding: 10px 0;
            width: 80%;
            padding: 10px;

            @media (max-width: 780px) {
                width: 100%;
            }

            h2 {
                font-size: 20px;
                color: @grey-color;
                font-weight: bold;
                text-align: center;
                margin-bottom: 30px;

                span {
                    color: @red-color;
                    font-size: 10px;
                    line-height: 2px;
                }
            }

            .dates {
                display: flex;

                @media (max-width: 930px) {
                    width: 95%;
                }

                @media (max-width: 505px) {
                    flex-wrap: wrap;
                }

                @media (max-width: 391px) {
                    flex-direction: column;
                }
            }
        }

        /* Red arrow*/

        .breadcrumb {
            width: 60%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            @media (max-width: 1300px) {
                width: 80%;
            }

            @media (max-width: 630px) {
                width: 90%;
            }

            @media (max-width: 530px) {
                flex-wrap: wrap;
                justify-content: left;
            }

            .arrow-right {
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid @red-color;
                margin: 0 5px 0 5px;
            }
        }

        form {
            background: #e0e0e0a6;
            margin-top: 20px;
            font-size: 13px;
            font-weight: bold;
            padding: 10px;

            input {
                margin: 10px 10px 0 10px;
                border: 1px solid #CCC;
                background: #FFF;

                &:hover {
                    -webkit-transition: border-color 0.3s ease-in-out;
                    -moz-transition: border-color 0.3s ease-in-out;
                    transition: border-color 0.3s ease-in-out;
                    border: 1px solid #AAA;
                }
            }

            .people {
                display: flex;

                @media (max-width: 630px) {
                    flex-wrap: wrap;
                }
            }

            button {
                cursor: pointer;
                border: none;
                background: @grey-color;
                color: #FFF;
                margin: 10px 10px 10px 20px;
                padding: 10px;
                font-size: 15px;

                &:hover {
                    background: @red-color;
                    -webkit-transition: background 0.3s ease-in-out;
                    -moz-transition: background 0.3s ease-in-out;
                    transition: background-color 0.3s ease-in-out;
                }
            }

            .fas {
                padding: 0 4px;
                @media (max-width: 391px) {
                    margin: 6px 0 6px 0;;
                }
            }

            .dates {
                padding: 15px 10px 0 10px;
            }

            .people {
                display: flex;
                padding: 15px 10px 0 10px;

                p {
                    font-weight: 100;
                }
            }
        }

        .tel{
            padding-top: 10px;
            span{
                font-size: 15px;
                color: @red-color;
                font-weight: bolder;
            }
        }

        /***** garantie right side ******/

        .garantie {
            width: 20%;
            padding: 15px;
            border-left: 1px solid rgba(129, 129, 129, 0.562);

            @media (max-width: 780px) {
                width: 100%;
                border-left: 0;
                border-top: 1px solid rgba(129, 129, 129, 0.562);
            }

            p {
                font-size: 13px;
                padding: 10px 0;

                i {
                    font-size: 15px;
                    padding-right: 10px;

                }
            }

            .bank {
                display: flex;
                flex-wrap: nowrap;
                width: 40%;
                margin: 0 auto;

                @media (max-width: 780px) {
                    margin: 0;
                }

                img {
                    height: 10px;
                    padding: 0 2px;
                }
            }

        }
    }

}