// main: main.less

@import 'variables.less';



/****************** RESTAURANT PAGE STYLES *******************/

.restaurant {

    :not(footer) {
        p {
            font-size: 13px;
            color: @grey-color;
        }
    }

    /***** Intro & links towards the differents menus *****/

    #intro-restau {
        border-bottom: 1px solid rgb(212, 212, 212);
        margin-bottom: 15px;

        /*image intro*/

        #img-restau {
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            div {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 0;
            }

            h1 {
                font-size: 25px;
                background: rgba(212, 211, 211, 0.733);
                padding: 15px 5px;
                font-weight: bold;
                color: @grey-color;
            }
        }

        /*text pres + images links*/

        h2 {
            font-size: 18px;
            text-align: center;
            padding: 30px 0 10px 0;
            font-weight: 600;
            color: @grey-color;
        }

        #pres-restau {
            max-width: 960px;
            margin: 20px auto;
            display: flex;

            @media (max-width: 600px) {
                flex-wrap: wrap;
            }

            #thumbnails-links {
                @media (max-width: 600px) {
                    width: 100%;
                }

                .thumbnails {
                    display: flex;
                }

                /*Slide in overlay from the left*/

                .image-effect {
                    position: relative;
                    padding: 10px;

                    img {
                        display: block;
                        width: 100%;
                    }

                    .overlay {
                        position: absolute;
                        top: 10px;
                        bottom: 10px;
                        left: 10px;
                        right: 100%;
                        background-color: @red-color;
                        transition: .5s ease;
                        overflow: hidden;

                        .text {
                            white-space: nowrap;
                            color: white;
                            font-size: 15px;
                            position: absolute;
                            overflow: hidden;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                        }
                    }

                    &:hover .overlay {
                        right: 10px;
                    }
                }
            }

            #text-pres {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    padding: 10px 15px;
                    text-align: justify;
                }
            }
        }
    }

    /***** 4 menus *****/

    #menus {

        margin-bottom: 20px;

        #menu-breakfast-lunch,
        #menu-afternoon-dinner {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;

            @media (max-width: 850px) {
                flex-direction: column;
                align-items: center;
            }
        }

        .breakfast,
        .lunch,
        .afternoon,
        .dinner {
            margin: 15px;
            padding: 10px;
            width: 45%;
            box-shadow: 5px 5px 10px 0px #c0c0c0;
            display: flex;
            justify-content: space-evenly;
            justify-content: left;


            @media (min-width: 1520px) {
                width: 35%;
            }

            @media (max-width: 1186px) {
                display: block;
            }

            @media (max-width: 850px) {
                width: 90%;
            }
        }

        .images-menus {
            @media (max-width: 1186px) {
                text-align: center;
            }

            img {
                display: block;
                padding: 5px 10px;
                width: 150px;

                @media (max-width: 1186px) {
                    display: inline;
                    width: calc(~'33% - 20px');
                }
            }
        }

        h2 {
            text-align: center;
            margin: 10px 0 12px 0;
            font-weight: bold;
        }

        p {
            padding-bottom: 2px;
            padding-left: 10px;

            span {
                font-weight: bold;
            }
        }
    }
}