// main: main.less

@import 'variables.less';

/****************** SALLES PAGE *******************/

/***** Intro & links towards the differents rooms *****/

.salles {
    p {
        font-size: 13px;
    }

    .linksSalles {
        margin: 15px 0;

        h1 {
            color: @grey-color;
            font-size: 25px;
            padding: 25px;
            font-weight: bold;
            text-align: center;
        }

        /*thumbnail links*/
        .vignettesSalles {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            img {
                border-radius: 2px;
            }

            p {
                font-size: 13px;
                text-align: center;
                margin-bottom: 30px;
            }

            a {
                color: @red-color;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                text-decoration: none;
                line-height: 2.5;

                &:hover {
                    color: @grey-color;
                    text-decoration: underline;
                }
            }

            /*Slide in overlay from the left*/
            .image-effect {
                position: relative;
            }

            .image {
                display: block;
                width: 100%;
                height: auto;
            }

            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: @red-color;
                overflow: hidden;
                width: 0;
                height: 100%;
                transition: .5s ease;
            }

            .image-effect:hover .overlay {
                width: 100%;
            }

            .text {
                white-space: nowrap;
                color: white;
                font-size: 20px;
                position: absolute;
                overflow: hidden;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
        }

        /*text intro*/
        .presentationSalles {
            margin: 0 auto;
            max-width: 960px;
            border-top: 1px solid rgb(212, 212, 212);
            border-bottom: 1px solid rgb(212, 212, 212);
            margin-bottom: 30px;

            p {
                color: @grey-color;
                font-size: 14px;
                padding: 15px 15px 15px 15px;
                text-align: justify;

                span {
                    font-weight: bold;
                }
            }

            a {
                color: @red-color;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                text-decoration: none;
                line-height: 2.5;

                &:hover {
                    color: @grey-color;
                    text-decoration: underline;
                }
            }
        }
    }

    /***** Gammes sections styles *****/
    #gammesSalles {

        #richelieu,
        #moliere,
        #napoleon {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px 0;
            margin: 40px auto;
            box-shadow: 5px 5px 10px 0px #c0c0c0;

            h2 {
                font-size: 19px;
                color: rgb(70, 70, 70);
                padding-bottom: 10px;
                font-weight: bold;
                text-align: center;
            }

            .images-salles {
                text-align: center;

                img {
                    padding: 10px;
                    width: calc(~'33% - 20px');
                }
            }

            .description-salles {
                max-width: 960px;

                p {
                    padding: 15px 15px 0 15px;
                    color: @grey-color;

                    @media (max-width: 600px) {
                        text-align: justify;
                    }
                }

            }
        }
    }
}