// main: main.less

@import 'variables.less';



/****************** BODY STYLES + FONT-FAMILY *******************/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #fff;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}


main {
    padding-top: @header-height;
}

/****************** HEADER STYLES *******************/

header {
    background: rgb(255, 255, 255);
    width: 100%;
    height: @header-height;
    padding: 10px;
    box-shadow: 0 8px 6px -6px #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
}

#logoHeader {
    height: 65px;
}

#resaHeader {
    height: 55px;
    cursor: pointer;
}

/****************** FOOTER STYLES *******************/

footer {
    width: 100%;
    min-height: 230px;
    background: rgb(71, 71, 71);
    padding: 25px 10px 15px 10px;

    p {
        color: rgb(14, 14, 14) !important;

        a {
            color: rgb(167, 164, 164);
            text-decoration: none;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}

#footer1 {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 720px) {
        flex-wrap: wrap;
    }

    @media (max-width: 450px) {
        justify-content: left;
    }
}

#footerLogo img {
    height: 85px;
    padding: 7px;
}

#plan a {
    color: rgb(167, 164, 164);
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;

    &:hover {
        color: #fff;
        text-decoration: underline;

    }

    @media (max-width:720px) {
        padding: 0 10px;
    }
}

.contact {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

    @media (max-width: 415px) {
        padding: 15px 5px;
    }
}

#langueEtRs {

    p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    img {
        height: 50px;
        margin-bottom: 10px;
    }

    .flag {
        height: 25px !important;
    }

    @media (max-width:720px) {
        padding: 10px 15px;
    }

    @media (max-width:420px) {
        padding: 20px 15px;
    }
}

.print {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}


#footer2 {
    font-size: 13px;
    padding-left: 10px;
    padding-top: 10px;
}